<div class="main-container">
  <h1>
    Binding examples filtering out vowels in stored valued
  </h1>
  <div class="card-block">
    <h2>Native DOM event bindings</h2>
    <input
      [value]="value1"
      (input)="value1 = removeVowels($event.target.value)"
    />
    <div>
      <p>
        stored: <em>{{ value1 }}</em>
      </p>
    </div>
  </div>

  <div class="card-block">
    <h2>Native DOM event bindings (allow vowels to be typed)</h2>
    <input
      value="value2"
      (input)="value2 = removeVowels($event.target.value)"
    />
    <div>
      <p>
        stored: <em>{{ value2 }}</em>
      </p>
    </div>
  </div>

  <div class="card-block">
    <h2>Using ngModel w/ ngModelChange</h2>
    <input [ngModel]="value3" (ngModelChange)="value3 = removeVowels($event)" />
    <div>
      <p>
        stored: <em>{{ value3 }}</em>
      </p>
    </div>
  </div>

  <div class="card-block">
    <h2>Using ngModel w/ ngModelChange (allow vowels to be typed)</h2>
    <input ngModel="value7" (ngModelChange)="value7 = removeVowels($event)" />
    <div>
      <p>
        stored: <em>{{ value7 }}</em>
      </p>
    </div>
  </div>

  <div class="card-block">
    <h2>Using TypeScript get/set with ngModel</h2>
    <input [(ngModel)]="value4" />
    <div>
      <p>
        stored: <em>{{ value4 }}</em>
      </p>
    </div>
  </div>

  <div class="card-block">
    <h2>Using custom directive</h2>
    <input [value]="value5" removeVowels overwrite="true" #rv="removeVowels" />
    <div>
      <p>
        stored: <em>{{ rv.internalValue }}</em>
      </p>
    </div>
  </div>

  <div class="card-block">
    <h2>Using custom directive (allow vowels to be typed)</h2>
    <input [value]="value6" removeVowels #rv2="removeVowels" />
    <div>
      <p>
        stored: <em>{{ rv2.internalValue }}</em>
      </p>
    </div>
  </div>
</div>
