/* You can add global styles to this file, and also import other style files */
.zoom {
  animation: zoom 0.5s linear;
}
.col {
  width: 50%;
}
@keyframes zoom {
  to {
    transform: scale(10);
    opacity: 0;
  }
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 10;
}
